* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: grid;
  grid: auto 1fr auto / 20rem 1fr;
  grid-template-areas:
    "header header"
    "aside main"
    "footer main";
  height: 100vh;
  background: #fff;
}

header {
  grid-area: header;
  background: #333;
  color: #fff;
  border-bottom: 0.1rem solid #ddd;
  padding: 1rem 2rem;
}

header a {
  text-decoration: none;
  color: #fff;
}

aside {
  grid-area: aside;
  background: #fff;
  border-right: 0.1rem solid #ddd;
  padding: 2rem 0;
  overflow: auto;
}

aside nav ul {
  padding-left: 0;
  list-style-type: none;
  font-size: 1.5rem;
  padding-left: 2rem;
}

aside nav ul ul {
  font-size: 1.2rem;
  padding-left: 1rem;
}

aside nav ul ul ul {
  font-size: 1rem;
}

aside nav a {
  display: block;
  padding: 0.5rem;
  color: #000;
  text-decoration: none;
}

aside nav a:hover {
  box-shadow: 0 0.1rem 0.1rem -0.1rem #000;
}

main {
  grid-area: main;
  max-width: 80rem;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 2rem 0;
  overflow: auto;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main p,
main pre,
main pre[class*="language-"],
main ul,
main button {
  margin: 1em 1rem 0.5em 1rem;
}

main li {
  list-style-position: inside;
}

main .card-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  margin: 1rem;
}

main .card-grid > .card {
  overflow: hidden;
  height: 20rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.2rem 0.5rem #0003;
  /* border: 0.25rem solid #000; */
  /* border-image: linear-gradient(to right, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00) 100% 0; */
}

main .component_preview {
  color: #000;
  text-decoration: none;
  display: grid;
  grid-template-rows: 1fr auto auto auto;
  grid-template-columns: 1fr auto;
  grid-template-areas: "preview preview" "name difficulty" "description description" "variants variants";
}

main .component_preview a:first-child {
  grid-area: preview;
}

main .component_preview p {
  grid-area: description;
}

main .component_preview h1 {
  font-size: 1.5rem;
  font-weight: 100;
}

main .component_preview img {
  width: 100%;
  height: 100%;
  min-height: 0;
  object-fit: contain;
  object-position: top left;
}

main .component_variants {
  grid-area: variants;
  list-style: none;
  margin: 1rem;
}

main .component_variants {
  display: flex;
  gap: 1rem;
}

main .component_variants li {
  display: block;
}

main .component_variants img {
  height: 2rem;
  width: 2rem;
  object-fit: cover;
}

main .component_preview a {
  min-height: 0;
}

main hr {
  margin: 1rem;
}

main .component_header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: ". preview" "difficulty preview" "variants preview";
}

main .component_header > img {
  grid-area: preview;
  border: 0.1rem solid #000;
  margin: 1rem;
}

main table {
  margin: 1rem;
  border-collapse: collapse;
}

main table th,
main table td {
  padding: 0.5rem;
}

main table td {
  border-top: 1px solid #000;
}

.difficulty_rating {
  font-weight: bolder;
  color: #000;
  margin: 1rem;
}

.difficulty_range {
  border-radius: 50%;
  background: #000;
  width: 1.8rem;
  height: 1.8rem;
  --bg-hue: 200;
  background: hsl(var(--bg-hue), 70%, 40%);
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
}

.difficulty_range__5 {
  --bg-hue: 0;
}

.difficulty_range__4 {
  --bg-hue: 25;
}

.difficulty_range__3 {
  --bg-hue: 50;
}

.difficulty_range__2 {
  --bg-hue: 75;
}

.difficulty_range__1 {
  --bg-hue: 100;
}

footer {
  grid-area: footer;
  background: #fff;
  border-right: 0.1rem solid #ddd;
  padding: 1rem 2rem;
}
