---
layout: componer/main.njk
eleventyComputed:
  eleventyNavigation:
    key: "{{ component }}"
    parent: Components
  title: "{{ component }}"
tags:
  - Component
pagination:
  data: components.11tydata.components
  alias: component
  size: 1
  addAllPagesToCollections: true
permalink: "components/{{ component | slug }}/index.html"
---

<h1>{{ component }}</h1>
<ul class="component_variants">
  {% for variant in
  components["11tydata"].components[component].variants %}
  <li>
    <a href="{{ variant }}">
      <img src="/assets/componer/img/variant-logo/{{ variant }}.avif" />
    </a>
  </li>
  {% endfor %}
</ul>
