<aside>
  <nav>
    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
      activeListItemClass: "active",
      activeAnchorClass: "activeLink",
      activeKey: eleventyNavigation.key
    }) | safe }}
  </nav>
</aside>