---
layout: componer/main.njk
eleventyComputed:
  eleventyNavigation:
    key: "{{ component.id }}"
    parent: Components
tags:
  - Component
---
<div class="component_header">
  <img src="{{ component.preview_image}}" />
  <h1>{{ component.name }}</h1>
  <div class="difficulty_rating">
    <span class="difficulty_range difficulty_range__{{component.difficulty.from}}">{{component.difficulty.from}}</span> -
    <span class="difficulty_range difficulty_range__{{component.difficulty.to}}">{{component.difficulty.to}}</span>
  </div>
  
  <ul class="component_variants">
    {% for variant in collections[component.id] %}
    {% if variant.data.variation %}
    <li>
      <a href="{{ variant.data.variation }}">
        <img src="/assets/componer/img/variant-logo/{{ variant.data.variation }}.avif" />
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
  
<hr>

{{ content | safe }}
