---
title: No Title
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Componer - {{ title }}</title>
  <link rel="stylesheet" href="{{ "/assets/componer/css/main.css" | url }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
</head>
<body>
  {% include "./partials/header.njk" %}
  {% include "./partials/aside.njk" %}
  <main>
    {{ content | safe }}
  </main>
  {% include "./partials/footer.njk" %}
</body>
</html>